.resu{
    display: flex;
    height: 100%;
    font-family: 'M PLUS 1', sans-serif;
}

.resumeHead{
    text-align: center;
    margin-top: 2rem;
    background-color: #101010;
    color: #deaa8a;
    margin-bottom: 3rem;
    font-size:larger;
    font-weight: 900;
    padding: 3vh;
    width: 62rem;
    margin-left: 15rem;
    font-family: 'M PLUS 1', sans-serif;
}
h1{
    font-size: 30px;
    font-weight: bold;
}

.resumeLeft{
    max-width:30rem;
    height: 100rem;
    margin-top: 0rem;
    margin-left: 15rem;
    margin-right: 5rem;
}
.resumeRight{
    max-width: 30rem;
    height: 30rem;
    overflow: hidden;
    margin: 5rem;
    margin-top: 4rem;
    font-size: 10px;
    
}

.personal{
    margin-top: 8px;
    margin-bottom: 8px;
}

.navclass{
    background-color: #101010;
    color: #deaa8a;
    text-align: center;
    height: 3rem;
    width:30rem;
    padding-top: 2px;

}

#hobbies{
    display: flex;
    justify-content: space-around;
}

p, h4{
    margin: 0;
}


